@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{
    padding:50px 200px;
}
.main-container{
    position: relative;
}
.main-container img{
    height: 300px;
    position:absolute;
    right: 0;
    top: 30px;
    display:inline-block;
}
.main-container h1, .main-container p{
    display: inline-block;
    margin-bottom: 20px;
}
.main-container p{
    position: absolute;
    right:0;
    vertical-align: middle;
}
.main-container table{
    border-collapse: collapse;
    font-size: 18px;
}
table td, table tr{
    padding: 10px;
}
.buy{
    padding:5px 10px;
    background-color: black;
    color: #f2f2f2;
    border-radius: 5px;
    text-decoration: none;
}
h3{
    display: inline-block;
    color: white;
    background-color: green;
    color: white;
    border-radius: 2px;
    padding: 5px;
}
